[Unit]
Description=Service to store rapl energy log

[Service]
WorkingDirectory=/users/hand32/bayop/rapl_service/
ExecStart=/usr/bin/python rapl_log.py
#Restart=always

[Install]
WantedBy=multi-user.target